body {
    background-image: url(https://wallpapercave.com/wp/wp2902991.jpg);
}
/* button {
    margin-bottom: 100px !important;
} */
h3 {
    color: gold;
    font-family: 'Carrois Gothic', sans-serif;
}
.arena {
    text-align: center;
    text-decoration: underline;
}
.card {
    margin-top: 20px;
    text-align: center;
}
.card-img-top {
    width: 172px;
    height: 310px;
}
.jumbotron {
    border: 8px solid gold;
    background-image: url("../images/banner.png");
    background-size: cover;
    height: 350px !important;
}
